* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: green;
}

#f1-car {
  position: absolute;
  width: 10%;
}

#f1-car-img {
  width: 100%;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}
